{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>USLS Assignment Tracker</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-50 font-sans">
    <nav class="bg-green-700 p-4 text-white shadow-lg">
        <div class="container mx-auto flex justify-between">
            <h1 class="font-bold text-xl">USLS Tracker</h1>
            <div>
                <a href="/" class="px-4">Dashboard</a>
            </div>
        </div>
    </nav>
    <main class="container mx-auto mt-10 px-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>